.sidenav {
  position: fixed;
  top: 35px;
  height: 100%;
  width: 60px;
  border-right: 1px solid #ccc;
  transition: width 0.3s ease-in-out;
}

.sidenav.open {
  width: 275px;
}

  
.question-circle {
  padding-top: 45px;
  padding-left: 32%;
}

.rules {
  padding-left: 10px;
  padding-right: 90px;
}

.rules p {
  font-size: small;
}