.fullContext {
  background-color: white;
  width: 100%;
  padding: 20px 50px;
}

.points, .cubes {
  width: 45%;
  justify-self: right;
}

.gameContext, .sessionLeaderboardContext {
  padding: 20px;
}

.points table {
  width: 100%;
  text-align: center;
  border: 1px dotted green;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.points th, td {
  width: 15%;
  padding: 0;
  border: 2px solid #ddd;
}

.sums {
  font-weight: bold;
  background-color: rgb(191, 191, 198);
}

.markOtherPlayer {
  border: 2px solid darkgreen;
  background-color: yellowgreen;
  color: black;
}

.markCurrentPlayer {
  background-color: lightblue;
  border: 2px solid darkgreen;
}

.sessionLeaderboardContext {
  text-align: center;
}

.sessionLeaderboardContext table {
  width: 100%;
  font-size: 14px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.sessionLeaderboardContext th {
  background-color: yellowgreen;
  color: black;
  font-size: 16px;
  border: 2px solid darkgreen;
}

.sessionLeaderboardContext td {
  border: 2px solid #ddd;
}

strong, i {
  background-color: antiquewhite;
}

.cubes .buttons {
  display: flex;
}

#rollCube {
  width: 100%;
  margin-top: 20px;
}

.btn {
  font-size: 16px;
  color: white;
  border-radius: 20px;
  transition: background-color 0.3s ease, transform 0.2s ease;
  height: 8%;
}

div.error-message {
  color: red;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  width: 50%;
}

.rotate {
  animation: spin 0.5s linear infinite;
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(720deg); }
}

.categories {
  width: 100%;
  display: flex;
  gap: 5px;
  background-color: antiquewhite;
}

.categorieNames {
  width: 75%;
  text-align: left;
}

.categoryInfo {
  width: 25%;
  text-align: right;
}

.possiblePoints {
  color: black;
  font-size: 15px;
  font-style: italic;
  background-color: beige;
}

@media (max-width: 480.98px) {
  .fullContext {
    padding: 0;
  }
  .points, .cubes {
    width: 100%;
  }
}

@media (min-width: 481px) and (max-width: 768.98px) {
  .points, .cubes {
    width: 80%;
    justify-self: center;
  }
}

@media (min-width: 769px) and (max-width: 1200.98px) {
  .points, .cubes {
    width: 60%;
  }
}

@media (min-width: 1201px) {
  .points, .cubes {
    max-width: 600px;
  }
  .sessionLeaderboardContext {
    max-width: 500px;
  }
}
